<div style="width:100%; height:900px;" id="tree"></div>
<script>
  <%= render partial: "red"%>
  <%= render partial: "orange"%>
  var family = new FamilyTree(document.getElementById("tree"), {
    template: "red",
    menu: {
            pdf: { text: "Export PDF" },
            png: { text: "Export PNG" },
            svg: { text: "Export SVG" },
            csv: { text: "Export CSV" },
            json: { text: "Export JSON" },
            export_pdf: {
                text: "Export PDF A4",
                icon: FamilyTree.icon.pdf(24, 24, "#7A7A7A"),
                onClick: pdf,
                layout: 'landscape'
            }
        },
        orientation: FamilyTree.orientation.left,     
        nodeBinding: {
            field_0: "name", 
            field_1: "nickname",
            field_2: "id",
            field_3: "birth",
            field_4: "death"
        },
        tags: {
            red: {
              template: "red"
            },
            orange: {
              template: "orange"
            },
            yellow: {
              template: "red"
            },
            green: {
              template: "orange"
            },
            blue: {
              template: "red"
            },
            lavender: {
              template: "orange"
            }
        },    
        nodes: [<%= render partial: "member_json", collection: @members %>]
    });
    function pdf(nodeId) {
       family.exportPDF({
            format: "A4",
            padding: 20
       });
    }
</script> 