// Bootstrap
@import "bootstrap";
@import "core";
@import "theme-default";
@import "pages/page-account-settings";
@import "pages/page-auth";
@import "pages/page-icons";
@import "pages/page-misc";

.bg-label-leon {
    background-color: #964b00 !important;
    color: #ffffff !important;
}

.bg-label-luis {
    background-color: #F4E04D !important;
    color: #ffffff !important;
}

.bg-label-fernando {
    background-color: #0DC86F !important;
    color: #ffffff !important;
}

.bg-label-manuel {
    background-color: #AE9CD6 !important;
    color: #ffffff !important;
}

.bg-label-jose {
    background-color: #FF7729 !important;
    color: #ffffff !important;
}

.bg-label-alfredo {
    background-color: #2772FF !important;
    color: #ffffff !important;
}

.bg-label-rosa {
    background-color: #FF5757 !important;
    color: #ffffff !important;
}

.members-search_wrapper > ul {
    z-index: 1;
    position: absolute;
    background-color: #FFFFFF;
    padding-right: 50px;
}

.spouse_auto_wrapper > ul {
    z-index: 1;
    position: absolute;
    background-color: var(--bs-card-bg);
    padding-right: 50px;
}

.father_auto_wrapper > ul {
    z-index: 1;
    position: absolute;
    background-color: var(--bs-card-bg);
    padding-right: 50px;
}

.mother_auto_wrapper > ul {
    z-index: 1;
    position: absolute;
    background-color: var(--bs-card-bg);
    padding-right: 50px;
}
@media print {   
    footer { 
        position: fixed; 
        bottom: 10; 
        left: 0; 
        right: 0; 
        height: 10px; 
    } 
} 