// Bootstrap
@import "bootstrap";
@import "core";
@import "theme-default";
@import "pages/page-account-settings";
@import "pages/page-auth";
@import "pages/page-icons";
@import "pages/page-misc";

.bg-label-leon {
    background-color: #964b00 !important;
    color: #ffffff !important;
}

.bg-label-luis {
    background-color: #FFF604 !important;
    color: #ffffff !important;
}

.bg-label-fernando {
    background-color: #0DC86F !important;
    color: #ffffff !important;
}

.bg-label-manuel {
    background-color: #AE9CD6 !important;
    color: #ffffff !important;
}

.bg-label-jose {
    background-color: #FF7729 !important;
    color: #ffffff !important;
}

.bg-label-alfredo {
    background-color: #2772FF !important;
    color: #ffffff !important;
}

.bg-label-rosa {
    background-color: #ffe0db !important;
    color: #ffffff !important;
}