<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <%=render "nav_bar", locals: {page: "index"}%>
    <p style="color: green"><%= notice %></p>
    <div class="card">
      <div class="card-header"></div>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Birth</th>
              <th>Death</th>
              <th>Parents</th>
              <th>Spouse</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <% @members.each do |member| %>
            <%= render member %>
            <%end%>  
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

  
 


