<script type="text/javascript">
  function changeBranch(event){
    console.log(event.target.value)
    window.location.href = `/members?branch=${event.target.value}`
  }
</script>
<p style="color: green"><%= notice %></p>
<br>
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <div class="card-header">
        <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Branch
    </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="javascript:void(0);">Leon</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="javascript:void(0);">Alfredo</a></li>
        <li><a class="dropdown-item" href="javascript:void(0);">Fernando</a></li>
        <li><a class="dropdown-item" href="javascript:void(0);">Jose</a></li>
        <li><a class="dropdown-item" href="javascript:void(0);">Luis</a></li>
        <li><a class="dropdown-item" href="javascript:void(0);">Manuel</a></li>
        <li><a class="dropdown-item" href="javascript:void(0);">Rosa</a></li>
      </ul>
  </div>
       <span style="float: right"><%= link_to "New Member", new_member_path %></span></div>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Birth</th>
              <th>Death</th>
              <th>Parents</th>
              <th>Spouse</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <% @members.each do |member| %>
            <%= render member %>
            <%end%>  
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>  


