<div style="width:100%; height:900px;" id="tree"></div>
<script>
  FamilyTree.templates.myTemplate = Object.assign({}, FamilyTree.templates.tommy);
  FamilyTree.templates.myTemplate.size = [300, 75]; 
  FamilyTree.templates.myTemplate.defs = '';
  FamilyTree.templates.myTemplate.field_0 = 
            '<text  data-text-overflow="ellipsis" style="font-size: 15px;" fill="#464646" x="150" y="35" text-anchor="middle">{val}</text>';
  FamilyTree.templates.myTemplate.field_1 = 
            '<text  data-text-overflow="ellipsis" style="font-size: 15px;" fill="#464646" x="130" y="50" text-anchor="middle">{val}</text>';
 FamilyTree.templates.myTemplate.field_2 = 
            '<text  data-text-overflow="ellipsis" style="font-size: 15px;" fill="#464646" x="20" y="20" text-anchor="middle">{val}</text>';
  FamilyTree.templates.myTemplate.field_3 = 
            '<text  data-text-overflow="ellipsis" style="font-size: 15px;" fill="#464646" x="70" y="70" text-anchor="middle">YOB: {val}</text>';
  FamilyTree.templates.myTemplate.field_4 = 
            '<text  data-text-overflow="ellipsis" style="font-size: 15px;" fill="#464646" x="200" y="70" text-anchor="middle">YOD: {val}</text>';
  FamilyTree.templates.myTemplate_male = Object.assign({}, FamilyTree.templates.myTemplate);
  FamilyTree.templates.myTemplate_male.node = '<rect x="0" y="0" height="75" width="300" stroke-width="1" fill="#c2ae97" stroke="#ae9c87" rx="7" ry="7"></rect>';
  FamilyTree.templates.myTemplate_female = Object.assign({}, FamilyTree.templates.myTemplate);
  FamilyTree.templates.myTemplate_female.node = '<rect x="0" y="0" height="75" width="300" stroke-width="1" fill="#97C2AE" stroke="#568D73" rx="7" ry="7"></rect>';

    
   var family = new FamilyTree(document.getElementById("tree"), {
    template: "myTemplate",
    menu: {
            pdf: { text: "Export PDF" },
            png: { text: "Export PNG" },
            svg: { text: "Export SVG" },
            csv: { text: "Export CSV" },
            json: { text: "Export JSON" },
            export_pdf: {
                text: "Export PDF A4",
                icon: FamilyTree.icon.pdf(24, 24, "#7A7A7A"),
                onClick: pdf,
                layout: 'landscape'
            }
        },
        orientation: FamilyTree.orientation.left,     
        nodeBinding: {
            field_0: "name", 
            field_1: "nickname",
            field_2: "id",
            field_3: "birth",
            field_4: "death"
        },
        nodes: [<%= render partial: "member_json", collection: @members %>]
    });
    function pdf(nodeId) {
       family.exportPDF({
            format: "A4",
            padding: 20
       });
    }
</script> 