tree.html.erb
<div id="container" style="width: 100%; height: 1000px;"></div>
<script>
  var data = {
  nodes: [<%= render partial: "member_json", collection: @members %>],
  edges: [<%= render partial: "edge", collection: @nodes %>]
  };

  anychart.onDocumentLoad(function () {
    var chart = anychart.graph(data);
    chart.nodes().labels().enabled(true);
    chart.nodes().labels().format("{%name}");

// configure tooltips of nodes
chart.nodes().tooltip().useHtml(true);
chart.nodes().tooltip().format("<span style='font-weight:bold'>{%name}</span><br>{%yob}-{%yod}");
// set the container id
chart.container("container");

// initiate drawing the chart
chart.draw();    
  })
// create data


</script>