<div style="width:100%; height:700px;" id="tree"></div>
<script>
   var family = new FamilyTree(document.getElementById("tree"), {
        nodeBinding: {
            field_0: "name"
        },
        nodes: [<%= render partial: "member_json", collection: @members %>]
    });
</script> 